.number1{
    float: right;
}
.text1{
    text-align: center;
}
.text3{
    
    text-align: center;
    
}
.text2{
    margin-left: 100px;
    margin-right: 100px;
    
    margin-bottom: 100px;
}
.pading{
    margin-left: 460px;
}