.face{
    width: 100px;
    height: 50px;
    background-color: cornflowerblue;
    color: white;
}
.google{
    width: 100px;
    height: 50px;
    margin-left: 20px;
    background-color:red;
    color: white;
}   
.phone{
    width: 100px;
    height: 50px;
    margin-left: 20px;
    background-color: greenyellow;
    color: white;
}
.text1{
    text-align: center;
    padding-left: 110px;
}
.text2{
    
    padding-left: 150px;
}
.email2{
    width: 340px;
    height: 30px;
}
.pass2{
    width: 340px;
    height: 30px;
}
.nopass{
    padding-left: 90px;
}
.button1{
    width: 350px;
    height: 50px;
    background-color: lightskyblue;
}
.button2{
    width: 350px;
    height: 50px;
}
.text3{
    padding-left: 100px;
}
.main{
    margin-left: 600px;
    border: 2px solid blue;
    margin-right: 550px;
    border-width: 10px;
}
