h1{
    color: red;
}
h2{
    color: white;
}
img{
    text-align: center;
    background-color: yellow;
}
div{
    background-color: green;
}
h3{
    text-align: center;
    background-color: yellow;
}