.text{
    color: red;
}
.text1{
    color: white;
}
.img{
    text-align: center;
    background-color: yellow;
}
.all{
    background-color: green;
}
.text2{
    text-align: center;
    background-color: yellow;
}