label{
    font-size: 20px;
}

body{
    background-color: pink;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Flag_of_the_Communist_Party_of_Vietnam.svg/1200px-Flag_of_the_Communist_Party_of_Vietnam.svg.png)
}